/* Global styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Changed font stack */
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6; /* Set the line height for better readability */
  scroll-behavior: smooth; /* Smooth scrolling behavior */
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

/* Center main content */
main {
  max-width: 100%; /* Increased max-width */
  margin: 0 auto;
}

/* Hero section styles */
.hero {
  background-color: #636dca;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  text-align: center;
  color: white;
  box-shadow: 0 10px 20px rgba(28, 25, 25, 0.3); /* Added box shadow */
  height:300px;
}

.hero h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.divider {
  border: none;
  height: 5px;
  background-color: white;
  margin: 20px auto;
  width: 100%; /* Made divider full-width */
}

.btn {
  display: inline-block;
  padding: 15px 30px; /* Increased padding */
  background-color: #1abc9c;
  color: #fff;
  text-decoration: none;
  border-radius: 25px; /* Rounded button */
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #16a085;
}

/* Container styles */
.containers-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 70px;
}

.container {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 5px 15px rgba(9, 9, 119, 0.1);
  transition: transform 0.3s, box-shadow 0.3s; /* Added transform transition */
  background-color: #dedde3; 
  padding:10px;
  width:100px;
}

.container:hover {
  transform: translateY(-5px); /* Added hover effect */
  box-shadow: 0 10px 20px rgba(7, 7, 7, 0.2); /* Enhanced box shadow on hover */
  background-color: #a4a6bb;
}

.container h2 {
  font-size: 30px;
  color: #080808; /* Text color */
}

.container p {
  font-size: 20px;
  line-height: 1.6;
  color: #2d2c2c; /* Text color */
  margin-bottom: 20px; /* Adjusted margin */
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.container p:last-child {
  margin-bottom: 0; /* Remove margin from last paragraph */
}

.container .read-more {
  color: #1abc9c; /* Button color */
  text-decoration: none;
  transition: color 0.3s;
}

.container .read-more:hover {
  color: #16a085; /* Button hover color */
}

.xyz,.pqr,.rst
{
  display: flex;
}

.container1
{
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  box-shadow: 0 5px 15px rgba(9, 9, 119, 0.1);
  transition: transform 0.3s, box-shadow 0.3s; /* Added transform transition */
  background-color: #dedde3; 
  padding:10px;
  margin: auto;
  height:200px;
  width:200px;
}