<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" >Make New Reservation</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">My Reservations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">SignOut</a>
          </li>
        </ul>
      </div>
    </div>
</nav>




<div class="container">
    <a class="abc" routerLink="/resources">
        <div class="bcd">
            <br>
            Reserve Company Resources
        </div>
    </a>
    <a class="abc" routerLink="/spaces">
        <div class="bcd">
            <br>
            Reserve  Company  Spaces
        </div>
    </a>
</div>
